<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :nation %><br />
    <%= f.text_field :nation %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :artist_type %>
  </div>
  <div class="field">
    <%= f.label :Biogarthy %><br />
    <%= f.text_area :bio %>
  </div>