<%= form_for(@artist ,:html=>{:id=> "the-artist-form"}) do |f| %>
<p class="validateTips">All form fields are required.</p>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :artist_type %>
  </div>
  <div class="field">
    <%= f.label :Biogarthy %><br />
    <%= f.text_area :bio %>
  </div>
  
<% end %>
