
<h2><%= @artist.name %></h2>
<h4>Type of Artist</h4>
<p><%= @artist.artist_type %></p>
<h4>Biography: </h4>
<p><%= @artist.bio %></p>

<h4>Albums: </h4>
<ol>
<% unless @artist.albums.empty? %>

<% max = @artist.albums.size %>
<% i = 0 %>
	<% begin %>	
	<li><%= link_to @artist.albums[i].name , @artist.albums[i] %> </li>
	<% i = i + 1 %>
	<% end while i < max -1 %>
  
<% end %>
</ol>


<% if signed_in? %>
<button id="edit-artist" >Edit Artist</button>
<br/>


<%= render 'shared/facebook_cm' %>


<div id="edit-artist-form" title="Edit Artist"> 
<%= render 'fields'%> 
</div>

<% end %>