

<div id="song_form">

<div id="flash_notice" >
			
</div>

<%= form_for(@song,:html=>{:id=> "the-song-form"}) do |f| %>
<p class="validateTips">All form fields are required.</p>


  <div class="field">
    <%= f.label(:name,"Song Name") %><br />
    <%= f.text_field :name, :class => "textbox" %>
  </div>
  
  <div id="ArtistBoxesGroup">
		<div id="artist_errors" ></div>

		<%= label nil, "Artist Name", :id => "ArtistBoxDiv1" %><br />
		<% aritstnum = @song.artists.size %>
		<% if aritstnum == 0 %>
			<%= text_field_tag 'artist_list1', nil, :class =>"artist_in", :id=> "artist_list1"%>
			<%= f.hidden_field :artistcount, :value =>1, :id=> "artistcount"%>
		<% else %>
			<%= f.hidden_field :artistcount, :value =>aritstnum, :id=> "artistcount"%>
		<% end %>
		
		<% for i in 1..aritstnum %>  
			<% temp = "artist_list#{i}" %>
			<%= text_field_tag temp, @song.artists[i-1].name  %>
		<% end %>
		
  </div>
  
  <a href="#" id="addArtist">Add More Artist</a><br/>
  <a href="#" id="removeArtist">Remove an Artist</a>

  
  
  <div class="field">
    <%= f.label(:lyric,"Lyric") %><br />
    <%= f.text_area :lyric %>
  </div>
  
  
    <div id="TextBoxesGroup">
		<%= f.label :tag, :id=> "TextBoxDiv1" %>
		<% if @tagsnum == 0 %>
			<%= text_field_tag 'tag_list1', nil, :class =>"tags_in"%>
			<%= f.hidden_field :count, :value =>1, :id=> "count"%>
		<% else %>
			<%= f.hidden_field :count, :value =>@tagsnum, :id=> "count"%>
		<% end %>
		
		<% for i in 1..@tagsnum %>  
			<% temp = "tag_list#{i}" %>
			<%= text_field_tag temp, @edit_tags[i-1] , :class =>"tags_in"  %>
		<% end %>
  </div>
  
  <a href="#" id="addButton">Add More Tag</a><br/>
  <a href="#" id="removeButton">Remove Tag</a>



<% end %>
</div>


