<div id="left">
<%= render 'songinfo' %>

<h4>Tag: </h4>
<p>

  <% tag_cloud(@tags, %w(css1 css2 css3 css4 css5)) do |tag, css_class| %>
	<% present = @song.tags.include?(tag) %>
	<% if present %>
		<%= link_to tag.name, tag_path(tag.name), :class => css_class %>
	<% end %>
  <% end %>
  
</p>

<h3>Belongs to which albums </h3>
<%= render @song.albums %>
<hr/>
<%= render 'shared/facebook_cm' %>


</div>

<div id="right">
<% if signed_in? %>
	You 
	<% if isuserliked %>
		<%= link_to 'unlike', unlike_path, :remote=> true %> 
	<% else %>
		<%= link_to 'like', like_path, :remote=> true  %> 
	<% end %>	
	this song<br/>
	

<fb:like href="http://127.0.0.1:3000<%= request.request_uri%>" show_faces="false" width="200" font="segoe ui"></fb:like>


<br/>
<button id="edit-song" >Edit Song</button>
<br/>


<div id="edit-song-form" title="Edit Song"> 
<%= render 'fields'%> 
</div>

<% end %>

</div>




