<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" > 
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascript' %>
	
	
  </head>
  <body>
  
    <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '197012066989004', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

  

  
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
	    <div id="main_content">
        <%= yield %>
		</div>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
